<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- Sửa Data Source (Tên Server) phù hợp với máy của từng người trong nhóm -->
    <!-- Initial Catalog là tên Database sẽ tạo sau (ví dụ: HomeStayDorm) -->
    <add name="HomeStayDormDB" 
         connectionString="Data Source=LAPTOP-ORDALAOG\SQLEXPRESS;Initial Catalog=KTX_HomeStay_Full;Integrated Security=True;TrustServerCertificate=True" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
